#texto {
    background-color: bisque;
    padding: 10px;
    width: 800px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 50px;
    border: solid 2px black;
    height: 200px;

}